fastapi
uvicorn[standard]==0.27.1
pydantic
SQLAlchemy
python-multipart
Pillow
celery
redis
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator
requests
torch
torchvision
numpy
matplotlib
tensorflow
bcrypt
stripe
psycopg2-binary
transformers
piexif
tqdm
facenet-pytorch
reportlab
boto3