fastapi
uvicorn
pydantic
SQLAlchemy
python-multipart
Pillow
celery
redis
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator
requests
torch
torchvision
numpy
matplotlib
tensorflow
bcrypt